<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gymbuddy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymBuddy">
        <activity android:name=".WorkoutActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>></activity>
        <activity android:name=".chest_workout"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>></activity>

        <activity android:name=".bicep_workout"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>></activity>

        <activity android:name=".shoulder_workout"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>></activity>

        <activity android:name=".leg_workout"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>></activity>

        <activity android:name=".diet_plans"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.ALTERNATIVE" />
        </intent-filter>></activity>

        <activity android:name=".weight_loss"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>></activity>

        <activity android:name=".muscle_gain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>></activity>

        <activity android:name=".weight_gain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>></activity>

        <activity android:name=".bulk_diet"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>></activity>

        <activity android:name=".bmi"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>></activity>


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>